//Montserrat Style Font
$font-family-md-base: "Open Sans", sans-serif !important;
$font-family-ios-base: "Open Sans", sans-serif !important;
$font-family-wp-base: "Open Sans", sans-serif !important;
$font-family-base: "Open Sans", sans-serif !important;

body,
h1,
h2,
h3,
p,
button,
ion-title {
  font-family: "Open Sans", sans-serif !important;
}

h1 {
  color: var(--ion-color-dark);
  font-weight: bold;
}

h2 {
  color: var(--ion-color-dark);
  font-weight: 400;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

h3 {
  color: var(--ion-color-dark);
  font-weight: bold;
  font-size: 16px;
}

p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: var(--ion-color-light);
}

a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: var(--ion-color-primary);
  text-decoration: none !important;
}
